$primary-font: "Poppins", Verdana, sans-serif;
$secondary-font: Georgia, Times, serif;
$primary-text-color: #000000;
$bootstrap-text-color: #212529;
$primary-color: #ffffff;
$secondary-color: #f6f7fb;
$primary-theme-color: #ffde00;
$secondary-theme-color: #ff0000;
$tertiary-theme-color: #3b4cca;

body {
  margin: 0;
  background-color: $primary-color;
  font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h6 {
  font-family: $secondary-font;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.text-medium {
  font-size: medium;
}

.font-impose {
  font-family: $primary-font !important;
}

.sized-img {
  width: 200px;
  height: 200px;
}

.content {
  background-color: $primary-theme-color;
}

.topbar .card {
  border-color: $secondary-theme-color;
}

.pokemon-card {
  position: relative;
  a {
    text-decoration: none;
    color: $bootstrap-text-color;
  }
  .pokemon-card-favorite {
    position: absolute;
    z-index: 1;
    right: 0.5rem;
  }
}

.custom-pagination {
  display: inline-block;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;

  li {
    display: inline-block;
    border: none;
    background: none;
    min-width: 2.5rem;
    padding: 0 0.5rem;
  }

  .custom-pagination-active {
    color: $primary-text-color !important;
    padding: 0 0.5rem;
    border-bottom: 0.1rem solid $primary-text-color;
  }

  .custom-pagination-disabled {
    cursor: not-allowed;
    a {
      cursor: not-allowed;
    }
  }
}

.custom-searcbox {
  .form-control {
    border-radius: 7px;
    border: 1.5px solid $secondary-color;
    background-color: $secondary-color;
    height: 3rem;
    &:focus {
      box-shadow: none;
    }
  }
  .input-group-append a {
    background-color: $secondary-color;
    border: none;
    display: flex;
    align-items: center;
  }
}

.custom-dropdown {
  min-width: auto;
  .card-body {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    #dropdown-toggle {
      color: $bootstrap-text-color;
      border: 1.5px solid $secondary-color;
      background-color: $secondary-color;
      height: 3rem;
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.styled-card {
  border-color: $tertiary-theme-color !important;
}

.abilities-row {
  row-gap: 0.5rem;
}

.topbar-button {
  background-color: $primary-color;
  border: 1px solid $secondary-theme-color;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;

  @media (min-width: 576px) {
    div:nth-child(2) {
      display: flex;
      justify-content: flex-end;
    }
  }

  img {
    margin-right: 0.3rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap");
